*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    /* overflow-x: hidden ; */
}  
.product{
    height: 100٪;
    
}
.product-img{

    height: 450px;
    /* widthظ: 200px;         */
    /* height: 200px; */
}
.pro-card{
    height: 500px;
}
.product-img>img{
    width: 100%;
    height: 100%;
    /*  width: 400px; */
background-size: cover;
/* height: 600px; */
    /* background-image: url("https://www.thestationerycompany.pk/cdn/shop/files/2024SlidesD-52.jpg?v=1703919743"); */
}
.pro-detail{
    text-transform: capitalize;
    height: 600px;
}
.btn{
    background-color: black;
    color: white;
    width: 300px;
    box-shadow: 2px 2px 20px ;
    padding: 15px 10px;
    /* margin: 0px 40px 0px 70px; */
}
.btn:hover{
    background-color:white;
    color: black;
    box-shadow: none;
    font-weight: bold;
}
.btn2{
    background-color:white;
    color: black;
    width: 100%;
    /* box-shadow: 2px 2px 20px ; */
    padding: 15px 100px;
    text-transform: capitalize;
    /* margin: 10px 0px 0px; */
}
.btn2:hover{
    background-color:red;
    color: white;
    box-shadow: none;
    font-weight: bold;
}
.description{
    background-color: rgba(193, 194, 196, 0.822);
}
.description>ul>li{
    list-style: none;
}
li{
    list-style: none    ;
}
.description>ul>li>a{
    text-decoration: none;
    color: black;
}
.slider>div{
    width: 100%;
    height: 600px;
}
.slider>div>img{
    width: 100%;
    height: 100%;
}
.mail-button{
    background-color: rgb(26, 25, 25);
    text-transform: uppercase;
    font-weight: bold;
}
.footer{
list-style: none;    
}